<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/karam/Documents/Projects/WebAutomationFramework/src/test/java/com/thetestingacademy/tests/TestLoginValidUser.java">
        <classes>
            <class name="com.thetestingacademy.tests.TestLoginValidUser">
            </class>
          <!--  <class name="com.thetestingacademy.tests.TestLoginPagePOM">
            </class>
           <class name="com.thetestingacademy.tests.TestLoginPagePOM_QA">
            </class>
            <class name="com.thetestingacademy.tests.TestLoginPagePOM_QA">
            </class>-->
        </classes></test></suite>